.products-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  margin: 5rem 0;
}

@media (min-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.products-item {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  border: .1rem solid black;
  border-radius: 1.5rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.products-item:hover {
  transform: translateY(-20px);
}

.products-item.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

.products-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.products-name, .products-price, .products-description {
  grid-column: span 2;
}

.products-name {
  font-size: 2rem;
}

.products-price {
  font-size: 1.6rem;
  font-weight: bold;
}

.products-description {
  margin: 0;
}

.products-category {
  font-size: 1.4rem;
  margin-left: auto;
  margin-top: auto;
}

.products-picture img {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

